/*CONFIGURACION GLOBAL*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.menutop {
    background-color: transparent !important;
    position: fixed;
    top: 0;
    width: auto;
    z-index: 2;
}

body {
    background-color: black !important;
}

#iconostextos {
    color: white;
    font-size: 15px;
}

.iconos {
    background-color: #0DCAF0 !important;
    text-align: center;
}

.card-img-top {
    width: 250px;
    height: 150px;
}

#title-somos {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

#title-destacados {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

#title-contacto {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

#title-footer {
    color: white !important;
    font-size: 30px;
    text-align: center;
}

.card-body {
    background-color: #0DCAF0;
}

.card {
    background-color: white !important;
    color: #ffffff;
    font-size: 20px;
}

.form-label {
    color: white;
    font-size: 17px;
    text-align: left;
}

.botonenviar {
    /*altura del boton */
    height: 30px;
    /*centra texto verticalmente */
    line-height: 50px;
}

.contacto {
    margin-bottom: 20px;
}

.icon {
    color: #ffffff;
}

.footer {
    background-color: #0DCAF0 !important;
    padding: 30px;
}