/*CONFIGURACION GLOBAL*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.menutop {
    background-color: transparent !important;
    position: fixed;
    top: 0;
    width: auto;
    z-index: 2;
}

body {
    background-color: black !important;
}

#iconostextos {
    color: white;
    font-size: 15px;
}

.iconos {
    background-color: #0DCAF0 !important;
    text-align: center;
}

.card-img-top {
    width: 250px;
    height: 150px;
}

#title-somos {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

#title-destacados {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}